<div class="playlist"
  [ngClass]="{'open': menuOpen}"
>
  <div class="heading">
    PLAYLIST
  </div>
  <ul>
    <li
      *ngFor="let track of tracks"
      (click)="selectTrack.emit(track)"
    >
      <img class="rounded" [src]="track.cover_small">
      <div class="info">
        <div class="track">{{track.title}}</div>
        <div class="artist">{{track.artist}}</div>
      </div>
      <div class="placeholder"
        *ngIf="track.isPlaying"
      >
        <i class="equalizer" aria-hidden="true"></i>
      </div>
    </li>
  </ul>
</div>
