<div class="playlist"
  [ngClass]="{'open': menuOpen}"
>
  <div class="heading">
    PLAYLIST
  </div>
  <ul>
    <li
      *ngFor="let track of tracks; let i = index"
      (click)="selectTrack.emit(i)"
    >
      <img class="rounded" [src]="track.cover_small">
      <div class="info">
        <div class="track">{{track.title}}</div>
        <div class="artist">{{track.artist}}</div>
      </div>
      <div class="placeholder">
        <i
        [ngClass] = "{'equalizer': playing && i === index}"
        >
        </i>
      </div>
    </li>
  </ul>
</div>
