<div class="overlay"
  [ngClass]="{'open': menuOpen}"
  (click)="togglePlaylist()"
>
</div>

<div class="page-content">
  <div class="menu">
    <tracklist
      [tracks]="tracks"
      [menuOpen]="menuOpen"
      [playing]="isPlaying"
      [index]="index"
      (selectTrack)="selectTrack($event)"
    >
    </tracklist>
  </div>

  <div class="display-area">
    <div class="topbar">
      <button class="btn"
        (click)="togglePlaylist()"
      >
        <i class="fa fa-bars"></i>
      </button>
      <a class="github" href="#"><span>View on GitHub</span><i class="fa fa-github" aria-hidden="true"></i></a>
    </div>

    <div class="grid-wrapper">
      <trackgrid
        [tracks]="tracks"
        (selectTrack)="selectTrack($event)"
      >
      </trackgrid>
    </div>

    <player
      [playing]="isPlaying"
      (play)="play()"
      (pause)="pause()"
      (stop)="stop()"
      (next)="next()"
      (previous)="previous()"
    >
    </player>
  </div>
</div>

<footer>
  <a href="https://welteki.com">Created by <span>Han Verstraete</span></a>
  <a href="https://www.deezer.com">
    Powered by
    <img src="assets/deezer.png">
  </a>
</footer>
