:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page-content {
  flex-grow: 2;
  display: flex;
}

.menu {
  position: relative;
}

.display-area {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.grid-wrapper {
  flex-grow: 2;
  position: relative;
}

.overlay {
  position: absolute;
  visibility: hidden;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 50;
  overflow: hidden;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-right: 34px;
  background-color: inherit;

    .btn {
      background-color: inherit;

      &:hover {
        color: orange;
      }
    }
}

.github {
  color: grey;
  font-size: 27px;

  &:hover {
    color: #0275d8;
    text-decoration: none;
  }

  span {
    padding-right: 5px;
    font-size: 14px;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  background-color: grey;
  padding-left: 45px;
  padding-right: 45px;
  z-index: 60;

  a {
    color: lightgrey;
    font-size: 12px;

    span {
      font-weight: bold;
    }
  }

  img {
    height: 22px;
    padding-left: 14px;
  }

}
