.overlay {
  position: absolute;
  visibility: hidden;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 50;

  &.open {
    visibility: visible;
    opacity: 1;
  }
}

.topbar {
  display: flex;
  justify-content: space-between;
  padding-right: 34px;
}

.github {
  color: grey;
  font-size: 27px;

  &:hover {
    color: #0275d8;
    text-decoration: none;
  }

  span {
    padding-right: 5px;
    font-size: 14px;
  }
}
