$cover-size: 295px;

:host {
  position: absolute;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: scroll;
  z-index: 10;
}

ul {
  display: flex;
  flex-wrap: wrap;
  width: 945px;
  // background-color: lightblue;
  list-style-type: none;
  padding-left: 0;
}

@media only screen and (max-width: 945px) {
  ul {
    width: 800px;
  }
}

@media only screen and (max-width: 800px) {
  ul {
    width: 630px;
  }
}

li {
  margin: 10px;
}

.cover-art {
  flex-grow: 1;
  position: relative;
  width: $cover-size;

  &:hover {
    .btn {
      visibility: visible;
    }
  }
}

@media only screen and (max-width: 945px) {
  .cover-art {
    width: 246px;
  }
}

@media only screen and (max-width: 800px) {
  .cover-art {
    width: $cover-size;
  }
}

.btn {
  position: absolute;
  top: $cover-size/2-30px;
  left: $cover-size/2-30px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 30px;
  border-color: orange;
  color: orange;
  border-width: 3px;
  font-size: 20px;
  padding-left: 20px;
  visibility: hidden;
}

.track {
  position: absolute;
  left: 0;
  bottom: 57px;
  display: inline-block;
  max-width: 87%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background: rgba(0,0,0,0.7);
}

.artist {
  position: absolute;
  left: 0;
  bottom: 30px;
  display: inline-block;
  max-width: 67%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: white;
  background: rgba(0,0,0,0.7);
}

img {
  width: 100%;
}
